#main{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
li{
    text-overflow:ellipsis;
    white-space: nowrap;
}
li:hover{
    cursor: pointer;
    color: #D84545;
}

/*链接样式*/
.linkA{
    display: block;
    overflow: hidden;
    color: #000;
    width:96%;
    text-overflow:ellipsis;
    white-space: nowrap;
 }
.linkA:hover{
    color: #D84545;
}
.moreA{
    color: #9baab3;
}
.moreA:hover{
    color: #D84545;
}

.header{
    width:100%;
    /*高度自定*/
}
.menu{
    margin-top: -3px;
    width:100%;
    line-height: 60px;
    vertical-align: middle;
    background: url("../images/newJr/menu.png") no-repeat;
    background-size: 100% 100%;
    font-size: 25px;
    font-family: "Microsoft YaHei UI";
    font-weight: 600;
    text-align: center;
}
.menuItems{
    margin-left: 66px;
    margin-right: 66px;
    cursor: pointer;
}
.active{
    color: #0a7ad7;
}
.topOne{
    width: 68.5%;
    margin: 20px auto;
}
.topOneLeft{
    display: inline-block;
    width: 53%;
    vertical-align: top;

}
.topOneRight{
    display: inline-block;
    width: 42%;
    vertical-align: top;
    float: right;
    font-size: 22px;
    font-weight: 500;
}
.swiper-container {
    width:100%;
    /*高度自定*/
    height: 400px;
}
.swiper-containerTwo {

    /*高度自定*/
}
.topOneRight ul{
    list-style: none;
    margin-top: 0px;
}
.topOneRight ul li{
    height:50px;
    line-height:50px;
    text-indent:15px;
    background-image:url("../images/newlibj.jpg");
    background-size:7px 32px;
    background-position:left 45%;
    background-repeat:no-repeat;
    margin-left: -30px;
    margin-bottom: 16px;
    cursor: pointer;
}
.topOneRight ul li:hover {
    color: red;
}
.topTwo{
    width: 68.5%;
    margin: 30px auto;
}
.topTwoHeader{
    width: 100%;
    /*高度自定*/
    height: 80px;
    background-color: red;
    margin-bottom: 10px;
}
.topTwoDetailLeft{
    border: 2px solid rgba(111,111,111,0.2);
    border-radius: 4px;
    display: inline-block;
    width: 49%;
    box-shadow: 2px 2px 5px #888888;
}
.topTwoDetailRight{
    border: 2px solid rgba(111,111,111,0.2);
    border-radius: 4px;
    display: inline-block;
    width: 49%;
    float: right;
    box-shadow: 1px 1px 3px #888888;

}
.titleImg{
    width: 220px;
    position: absolute;
    /* top: 21px; */
    margin-top: -5px;
    margin-left: -5px;
}
.more{
  float: right;
    margin-right: 12px;
    margin-top: 8px;
    font-size: 20px;
    color: #9baab3;
}
.more img{
    width: 20px;margin-top: 2px;display: inline-block;vertical-align: middle;margin-right: 5px
}
.more div{
    display: inline-block;vertical-align: middle
}
.middle{
    width: 68.5%;
    margin: 0px auto
}
.middleTwo{
    margin-top: 40px;
}
.middleOneHeader{
    width: 100%;
    /*高度自定*/
    margin-bottom: 10px;
}
.middleTwoHeader{
    width: 100%;
    /*高度自定*/
    margin-bottom: 10px;
}
.middleOnedetail{
    margin-top: 40px;
}
.middleTwDetailLeft{
    display: inline-block;
    width: 55%;
    vertical-align: top;
}
.middleTwDetailRight{
    display: inline-block;
    float: right;
    width: 43%;
    vertical-align: top;
}
.bottom{
    width: 68.5%;
    margin: 20px auto;

}
.bottomHeader{
    width: 100%;
    /*高度自定*/
    margin-bottom: 10px;
}
.books{
    margin-top:20px;
    width: 100%;
    /*高度自定*/
    background-color: #ededed;
}
.booksHeader{
    position: relative;
    margin: 0px auto;
    top:35px;
    width: 60%;
    /*高度自定*/
}
.booksDetail{
    padding-bottom: 53px;
    overflow: hidden;
    width: 70%;
    margin: 65px auto;
    text-align: center;
}
.linksHeader{
    margin: 30px auto;
    /*高度自定*/
    width: 60%;
}
.linksDetail{
    text-align: center;
}
.linkBtn{
    line-height: 26px;
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    background: #cb0100;
    color: #fff;
}
/*优秀楷模*/
.peopleList{

}
.peopleList ul{
    list-style: none;
}
.peopleList li{
    width: 180px;
    height: 316px;
    background-color: #f6f8fa;
    float: left;
    position: relative;
    margin: 25px 15px;
}
.pic{
    width: 180px;
    height: 180px;
}
.tit{
    width: 80px;
    height: 34px;
    line-height: 34px;
    background-color: #cb0100;
    text-align: center;
    position: absolute;
    left: -25px;
    top: 130px;
}
.ab{
    font-size: 14px;
    text-indent: 2em;
    line-height: 22px;
    color: #454545;
    text-align: justify;
    padding-top: 12px;
    width: 92%;
    overflow: hidden;
    height: 110px;
}
.inspection ul{
    list-style: none;
}
.inspection ul li{
    font-size: 20px;
    background: url('http://member.jschina.com.cn/2019xl/bwcxljsm/images/9_03.jpg') no-repeat left center;
    padding-left: 26px;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
}
a{
    text-decoration:none
}
/*四模块*/
.listBlock{
    margin-top: 80px;
}
.listBlock ul{
    margin:0;padding:0;
}
.listBlock ul li{
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    margin: 8px;
}
.line{
    width: 96%;
    margin: 0px auto;
    border: 2px solid rgba(111,111,111,0.2);

}
.text{
    text-indent: 1em;
    line-height: 50px;
}
/*外链*/
.links{
    padding-bottom: 100px;
}
/*尾巴*/
.tail{
    padding: 50px 20px;
    text-align: center;
    background: #cb0100;
    color: white;
    font-size: 20px;
}
/*分页器点*/
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: -10px 4px;
}
