  server:
    port: 80

  druid:
    url: jdbc:mysql://106.14.223.32:3306/jrxfcopy?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: test
    password: Pass99123
    initialSize: 1
    minIdle: 1
    maxActive: 20
    validationQuery: SELECT 1 FROM DUAL
    filter: stat


  mybatis:
    type-aliases-package: com.jtzh.szcj.entity
    mapper-locations: classpath:mapper/*.xml
    config-locations: classpath:mybatis-config.xml
    configuration:
        mapUnderscoreToCamelCase: true

  logging:
    level:
      com.erp.mapper: debug

  mapper:
      mappers:
          - com.jtzh.szcj.common.base.BaseMapper
      not-empty: false
      identity: MYSQL
  spring:
  jackson:
    date-format: yyyy-MM-dd

  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
