<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="IE=9" />
    <title>不忘初心，牢记使命</title>
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/vue.js" type="text/javascript"></script>
    <script src="js/axios.min.js" type="text/javascript"></script>
    <script src="js/swiper.min.js"></script>
    <link type="text/css" rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="js/swiper.min.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
    * {
        padding: 0;
        margin: 0;
    }
</style>
<body>
    <div id="main" >
        <div class="header">
            <img src="images/newJr/banner.png" style="width: 100%;height: 100%">
        </div>
        <div class="menu">
            <template v-for="(items,index) in menus" v-if="items.isShow">
                <span class="menuItems" @click="menuActive(items,index)" ><a :href="'#'+items.name" :style="activeStyle[index]">{{items.text}}</a></span>
            </template>
        </div>
        <div class="topOne">
            <div class="topOneLeft">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"  @click="tiao(topOneData[0].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic1" style="width: 100%;height: 100%" ></div>
                        <div class="swiper-slide"  @click="tiao(topOneData[1].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic2" style="width: 100%;height: 100%" ></div>
                        <div class="swiper-slide"  @click="tiao(topOneData[2].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic3" style="width: 100%;height: 100%"></div>
                        <div class="swiper-slide"  @click="tiao(topOneData[3].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic4" style="width: 100%;height: 100%" ></div>
                        <div class="swiper-slide"  @click="tiao(topOneData[4].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic5" style="width: 100%;height: 100%" ></div>
                        <div class="swiper-slide"  @click="tiao(topOneData[5].id)" style="cursor: pointer"><img src="http://p3.img.cctvpic.com/photoAlbum/page/performance/img/2019/6/12/1560307471957_689.jpg" id="imgPic6" style="width: 100%;height: 100%" ></div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <div class="swiper-pagination" style="background-color: rgba(124,150,170,0.3);height: 11%;margin-bottom: -11px"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
            <div class="topOneRight">
                <ul>
                    <li v-for="items in topOneData"><a :href="detailUrl + '?type=homeHeader&id=' +items.id" target="_blank" class="linkA">{{items.title}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="topTwo">
            <!--<div class="topTwoHeader"></div>-->
            <div>
            <div class="topTwoDetailLeft"><a name="spirit"></a>
                <div><span><img src="images/newJr/spirit.png" class="titleImg"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=spirit'" target="_blank" class="moreA">更多</a></div></div></div>
                <div class="listBlock">
                    <ul>
                        <li v-for="items in spirit">
                            <div class="line"></div>
                            <div class="text"><a :href="detailUrl+ '?type=spirit&id=' +items.id" target="_blank" class="linkA">{{items.title}}</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="topTwoDetailRight"><a name="deploy"></a>
                <div><span><img src="images/newJr/deploy.png" class="titleImg"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=deploy'" target="_blank" class="moreA">更多</a></div></div></div>
                <div class="listBlock">
                    <ul>
                        <li v-for="items in deploy">
                            <div class="line"></div>
                            <div class="text"><a :href="detailUrl+'?type=deploy&id=' + items.id" target="_blank" class="linkA">{{items.title}}</a></div>
                        </li>
                    </ul>
                </div>
            </div>
            </div>
        </div>
        <div class="middle">
            <div class="middleOne">
                <div class="middleOneHeader">
                    <img src="images/newJr/redOne.png" style="height: 100%;width: 100%">
                </div>
                <div class="middleOnedetail">
                    <div class="topTwoDetailLeft"><a name="dynamic"></a>
                        <div><span><img src="images/newJr/dynamic.png" class="titleImg"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=dynamic'" target="_blank" class="moreA">更多</a></div></div></div>
                        <div class="listBlock">
                            <ul>
                                <li v-for="items in dynamic">
                                    <div class="line"></div>
                                    <div class="text"><a :href="detailUrl+'?type=dynamic&id=' +  items.id" target="_blank" class="linkA">{{items.title}}</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="topTwoDetailRight"><a name="discuss"></a>
                        <div><span><img src="images/newJr/discuss.png" class="titleImg"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=discuss'" target="_blank" class="moreA">更多</a></div></div></div>
                        <div  class="listBlock">
                            <ul>
                                <li v-for="items in discuss">
                                    <div class="line"></div>
                                    <div class="text"><a :href="detailUrl+'?type=discuss&id=' + items.id" target="_blank" class="linkA">{{items.title}}</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="middleTwo">
                <!--<div class="middleTwoHeader">-->
                    <!--<img src="images/newJr/redTwo.png" style="height: 100%;width: 100%">-->
                <!--</div>-->
                <div class="middleTwDetailLeft"><a name="model"></a>
                    <div><span><img src="images/newJr/model.png" class="titleImg" style="position: relative;width: 600px"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=model'" target="_blank" class="moreA">更多</a></div></div>
                    </div>
                    <div class="peopleList">
                        <ul>
                            <li v-for="items in personImages" style="white-space:normal;overflow-scrolling: auto">
                                <div class="pic">
                                    <a :href="detailUrl+'?type=model&id='+items.id" target="_blank"><img :src="fileUrl+items.pic"  style="width: 100%;height: 100%"></a>
                                </div>
                                <div class="tit">
                                    <a :href="detailUrl+'?type=model&id='+items.id" style="color: white;text-decoration:none" target="_blank">{{items.title.split('&')[0]}}</a>
                                </div
                                ><div class="ab">
                                {{items.title.split('&')[1]}}
                            </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="middleTwDetailRight"><a name="inspection"></a>
                    <div><span><img src="images/newJr/inspection.png" class="titleImg" style="position: relative;width: 300px"></span><div class="more"><img src="images/newJr/right.png" style=""><div style=""><a :href="listUrl+'?type=inspection'" target="_blank" class="moreA">更多</a></div></div>
                    </div>
                    <div class="inspection">
                        <ul>
                            <li v-for="items in inspection"><a :href="detailUrl+'?type=inspection&id='+items.id" class="linkA" target="_blank">{{items.title}}</a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="bottom">
            <div class="bottomHeader">
                <img src="images/newJr/redTwo.png" style="height: 100%;width: 100%">
            </div>
        </div>
        <div class="books">
            <div class="booksHeader"><img src="images/newJr/studyPlatform.png" style="width: 100%"></div>
            <div class="booksDetail">
                <div class="swiper-containerTwo">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" v-for="items in bottomImgs">
                            <a :href="items.url" target="_blank">
                                <img :src="items.src" style="width: 99%">
                                <p style="background-color: #ffffff;color: #555555;position: relative;top: -5px;height: 25px;">{{items.title}}</p>
                            </a>
                        </div>
                    </div>
                    <!-- 如果需要分页器 -->
                    <!--<div class="swiper-pagination"></div>-->
                    <!--<div class="swiper-button-prev"></div>-->
                    <!--<div class="swiper-button-next"></div>-->
                </div>
                <!--<div v-for="items in bottomImgs" style="width: 300px;height: 250px;margin-left: 15px;display: inline-block;">-->
                    <!--<img  :src="items" style="width: 100%;height: 100%;">-->
                <!--</div>-->
            </div>
        </div>
        <div class="links">
            <div class="linksHeader"><img src="images/newJr/link.png" style="width: 100%"></div>
            <div class="linksDetail">
                <div style="display: inline-block">
                    <button class="linkBtn" @click="linkOpen('http://jsnews.jschina.com.cn/zt2019/chuxin/')">江苏省委“不忘初心，牢记使命”主题教育官方网站</button>
                </div>
                <div style="display: inline-block">
                    <button class="linkBtn" @click="linkOpen('http://www.jsxf.gov.cn/zt/bwcxljsm/')">中央“不忘初心，牢记使命”主题教育官方网站</button>
                </div>
                <div style="display: inline-block">
                    <button class="linkBtn" @click="linkOpen('http://www.zjdj.gov.cn/Net/al?id=3380769717273600')">镇江市委“不忘初心，牢记使命”主题教育官方网站</button>
                </div>
            </div>
        </div>
        <div class="tail">
            <div>主办单位：中国共产党句容市组织部      &nbsp; &nbsp; &nbsp; 网站备案编号：苏ICP备12016583号-1 </div>
        </div>
    </div>
<style>
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: -10px 4px;
    }
    .swiper-pagination-customs{
        margin-right: 15px;
    }
    .swiper-pagination{
        text-align: right;
        line-height: 44px;
    }
    .swiper-pagination-bullet{
        margin-right: 15px;
        background: rgba(246, 246, 246,1);
    }
    .swiper-pagination-bullet-active{
        background: rgba(255, 71, 56, 0.8);
    }
</style>
</body>
<script>
var main = new Vue({
    el:'#main',
    components:{

    },
    data:function() {
    return {
        detailUrl:"http://"+ window.location.host+'/templates/jurong/thematicDetail.html',
        listUrl:"http://"+ window.location.host+'/templates/jurong/thematicList.html',
        baseUrl:"http://"+ window.location.host,
        fileUrl:"http://"+ window.location.host+'/file/',
        menus:[{text: '首页头条', name: 'homeHeader', isShow: false},{text:'中央精神',name:'spirit', isShow: true},{text:'市委部署',name:'deploy', isShow: true},{text:'工作动态',name:'dynamic', isShow: true},{text:'学习研讨',name:'discuss', isShow: true},{text:'检视整改',name:'inspection', isShow: true},{text:'优秀楷模',name:'model', isShow: true}],
        activeStyle:[{color:'red'},{color:'red'},{color:'red'},{color:'red'},{color:'red'},{color:'red'},{color:'red'}],
        topOneData:['对标先进践初心 省委政政法委启政法委启政法委启政法委启政法委启法委启动“跟班先进找差距”活动','对标先进践初心 省委政法委启动“跟班先进找差距”活动','对标先进践初心 省委政法委启动“跟班先进找差距”活动','对标先进践初心 省委政法委启动“跟班先进找差距”活动','11111111111111111','1111111111111111','11111111111111','11111111111111111111'],
        bottomImgs:[
            {title: '学习平台', src:'images/newJr/linkOne.jpg',url:'http://www.12371.cn/special/xxzd/'},
            {title: '领航新时代', src:'images/newJr/linkTwo.jpg',url:'http://www.12371.cn/special/xg19thjs/'},
            {title: '两学一做', src:'images/newJr/linkThree.jpg',url:'http://lxyz.12371.cn/'},
            {title: '榜样', src:'images/newJr/linkFour.jpg',url:'http://www.12371.cn/special/dzby/'},
            {title: '江苏先锋', src:'images/newJr/linkFive.jpg',url:'http://www.jsxf.gov.cn/jsxf/'},
            {title: '思政微课堂', src:'images/newJr/linkSeven.jpg',url:'https://js.xuexi.cn/'}],
        //任务信息
        personImages:[],
        //检视整改
        inspection:[],
       //中央精神
        spirit:[],
        //市委部署
        deploy:[{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'}],
        //工作动态
        dynamic:[{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'}],
        //学习研讨
        discuss:[{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'},{msg:'赛后的网红爱大啊伟大伟大伟大的女孩哦额',linkId:'0000'}]

    }
    },
    methods:{
        menuActive: function (val,index){
            for( var i in this.activeStyle){
                if(i == index){
                    this.activeStyle[i].color = '#d1d23a'
                }else {
                    this.activeStyle[i].color = 'red'

                }
            }

        },
        tiao:function (val) {
            window.open(this.detailUrl + val);
        },
        linkOpen:function(val){
            window.open( val);
        },
        imgUrl:function(val){
            return {
                background:'url('+val+')',
                backgroundRepeat:'no-repeat'
            }
        }
    },
    mounted:function(){
        var _this = this
        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'首页头条',
                page:{page:0,pageSize:6}
            }
        }).then(function(data){
            _this.topOneData = data.data.obj.data

        document.getElementById('imgPic1').src = _this.topOneData[0].pic
        document.getElementById('imgPic2').src = _this.topOneData[1].pic
        document.getElementById('imgPic3').src = _this.topOneData[2].pic
        document.getElementById('imgPic4').src = _this.topOneData[3].pic
        document.getElementById('imgPic5').src = _this.topOneData[4].pic
        document.getElementById('imgPic6').src = _this.topOneData[5].pic

        var mySwiper = new Swiper ('.swiper-container', {
            direction: 'horizontal', // 垂直切换选项
            loop: true, // 循环模式选项
            autoplay: {
                delay: 3000,//1秒切换一次
                disableOnInteraction: false,
            },//
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            // 如果需要分页器
            pagination: {
                el: '.swiper-pagination',
                type: 'custom',
                clickable:true,
                renderCustom: function (swiper, current, total) {
                    var customPaginationHtml = "";
                    for(var i = 0; i < total; i++) {
                        //判断哪个分页器此刻应该被激活
                        if(i == (current - 1)) {
                            customPaginationHtml += '<span style="float: left;line-height: 44px;color: white;font-size: 19px;margin-left: 10px;width: 70%;text-overflow:ellipsis;white-space: nowrap;overflow: hidden;text-align: left">'+_this.topOneData[i].title+'</span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>';
                        } else {
                            customPaginationHtml += '<span class="swiper-pagination-bullet"></span>';
                        }
                    }
                    return customPaginationHtml;
                }
            }
        })

        var mySwiperTwo = new Swiper ('.swiper-containerTwo', {
            direction: 'horizontal', // 垂直切换选项
            loop: true, // 循环模式选项
                autoplay: {
                    delay: 3000,//1秒切换一次
                    disableOnInteraction: false,
                },//等同于以下设置
            // 如果需要前进后退按钮
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            slidesPerView:4,
            slidesPerGroup:1,
            spaceBetween:30,
            // 如果需要分页器
            // pagination: {
            //     el: '.swiper-pagination',
            //     clickable:true
            // }
        })
        });
    },
    created:function(){
        var _this = this
        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'中央精神',
                page:{page:0,pageSize:5}
            }
        }).then(function(data){
            _this.spirit = data.data.obj.data
        });

        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'市委部署',
                page:{page:0,pageSize:5}
            }
        }).then(function(data){
            _this.deploy = data.data.obj.data
        });

        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'工作动态',
                page:{page:0,pageSize:5}
            }
        }).then(function(data){
            _this.dynamic = data.data.obj.data
        });

        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'学习研讨',
                page:{page:0,pageSize:5}
            }
        }).then(function(data){
            _this.discuss = data.data.obj.data
        });
        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'优秀楷模',
                page:{page:0,pageSize:5}
            }
        }).then(function(data){
            _this.personImages = data.data.obj.data
        });

        axios({
            method: 'Post',
            url: this.baseUrl+'/rememberMission/page',
            data: {
                type:'检视整改',
                page:{page:0,pageSize:8}
            }
        }).then(function(data){
            _this.inspection = data.data.obj.data
        });
    }
})
</script>
</html>
